@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

/* Body */

body {
  background-color: #222f3e;
  color: white;
  font-family: 'Nunito', sans-serif;
}

/* Cabeçalho */

#header {
  width: 90%;
  text-align: center;
  margin: 5% auto 0;
}

#header h1 {
  font-weight: bold;
}

#header h6 {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

#header .acoes {
  margin: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header .acoes  > * {
  width: 45%;
}

@media only screen and (max-width: 768px) {
  #header .acoes {
    display: block;
  }
  #header .acoes > * {
    margin: 1% 0;
    width: 100%;
  }
}

#header .acoes .btn-movimentos {
   width: 100%;
}

#header .acoes p {
  margin: 0 !important;
  padding: 5px;
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 5px;
}

/* Cartas */

.container {
  padding: 15px 15px 0 15px !important;
  margin-bottom: 10%;
}

#cartas {
  background-color: #c8d6e5;
  border-radius: 2px;
}

.flip-container {
  perspective: 1000px;
}

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.col-6,
.flip-container,
.front,
.back {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  cursor: pointer;
}

.back {
  transform: rotateY(180deg);
}

.col-6 .back {
  background-color: #0abde3;
}

.col-6 .front {
  background-color: #222f3e;
}

.fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  color: white;
}

.opcao-correta {
  background-color: #00d2d3 !important;
}

.opcao-incorreta {
  background-color: #ff6b6b !important;
}

/* Resultado - Aviso */

#resultado, #aviso {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  text-align: center;
}

#resultado .resultado, #aviso .avisos {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#resultado .tempo {
  font-weight: 600;
  font-size: 2rem;
  display: block;
}

#estrelas-resultado {
  font-size: 3rem;
  color: #feca57;
}